<div class="d-flex justify-content-center">
  <div class="text-center p-3 mb-2 bg-light text-dark w-45 ">
<%= form_with(model: task) do |form| %>
  <div class="field d-flex justify-content-between">
    <div class="p-2">
      <%= form.label :title %>
    </div>
    <%= form.text_field :title %>
    <% task.errors.full_messages_for(:title).each do |message| %>
    <div><%= message %></div>
    <% end %>
  </div>
  <br>
  <div class="field d-flex justify-content-between">
    <div class="p-2">
      <%= form.label :description %>
    </div>
    <%= form.text_field :description %>
    <% task.errors.full_messages_for(:description).each do |message| %>
    <div><%= message %></div>
    <% end %>
  </div>  
  <br>
  <%= form.hidden_field :completed, value: false %>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="form-group">
  <%= form.label :completed %>
  <%= form.check_box :completed %>
  </div>
    

  <div>
    <%= form.submit %>
  </div>
<% end %>
  </div>
</div>
